.project {
    display: grid;
    height: 100%;
    grid-template-rows: auto 1fr auto auto;
    width: 340px;
    border: #FFBB5C 6px solid;
    padding: 30px 40px 20px 40px;
    border-radius: 12px;
}

.name {
    text-align: center;
    font-size: 22px;
    font-weight: bolder;
    margin: 4px;
}

.description {
    font-size: 16px;
    text-align: center;
}
a, u {
    text-decoration: none;
}
.linkWrapper {
    margin: 10px 0px;
}

.link {
    text-align: center;
    transition: 0.25s;
    color: black;
    font-weight: bolder;
    color: black;
    background: #FF9B50;
    padding: 4px 16px;
    border: solid 2px black;
    border-radius: 6px;
}

.link:hover {
    background-color: #FFBB5C;
}
.link:active {
    background-color: #C63D2F;
}

.technologies {
    margin: 10px 0px 0px 0px;
    display: flex;
    align-items: flex-end;
    min-height: 80px;
}

.technologieWrapper {
    display: flex;
    flex-flow: wrap-reverse;
    justify-content: center;
    width: 100%;
    gap: 4px;

}