.navItem{
    margin: 0px 20px;
    transition: 0.25s;
    cursor : pointer;
}

.navItem:hover {
    transform: scale(1.2);
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}
.navItem:active {
    transform: scale(1.1);
    -webkit-filter: invert(85%); /* Safari/Chrome */
    filter: invert(85%);
}

.icon {
    height: 32px;
    width: 64px;
}

.image {
    width: 100%;
    height: 100%;
}

.bottomLine {
    margin-top: 5px;
    border: solid 3px black;
    border-radius: 4px;
    
}