.navItem {
    transition: 0.25s;
    cursor : pointer;
    -webkit-filter: invert(60%);
    filter: invert(60%);
}


.navItem:hover {
    transform: scale(1.3);
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
.navItem:active{
    transform: scale(1.05);
    -webkit-filter: invert(85%); 
    filter: invert(85%);
}

.activeLink img {
    transform: scale(1.15);
    -webkit-filter: invert(90%);
    filter: invert(90%);
}

.image {
    height: 32px;
    width: 64px;
}

@media (max-width: 980px) {

    .image {
        height: 48px;
        width: 96px;
    }
    .bottomLine {
        width: 122px;
    }

}