.navItem {
    transition: 0.25s;
    cursor : pointer;
    
}

img {
    transition: 0.25s;
}

.navItem:hover {
    transform: scale(1.2);
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}
.navItem:active{
    transform: scale(1.1);
    -webkit-filter: invert(85%); /* Safari/Chrome */
    filter: invert(85%);
}

.activeLink img {
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}
.activeLink hr {
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}

.icon {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

.image {
    height: 32px;
    width: 64px;
}

.bottomLine {
    transition: 0.25s;
    width: 72px;
    margin-top: 5px;
    border: solid 3px black;
    border-radius: 4px;
    
}

@media (max-width: 980px) {

    .image {
        height: 48px;
        width: 96px;
    }
    .bottomLine {
        width: 122px;
    }

}