.gameInList {
    display: flex;
    border: #FF9B50 solid;
    border-width: 0px 0px 16px 0px;
    border-radius: 8px;
}

.gameInList .icon img {
    height: 96px;
    border-radius: 8px 8px 0px 0px;
}

.gameSolo {
    display: flex;
    border: #FF9B50 solid;
    border-width: 6px;
    border-radius: 12px;
}

.gameSolo .tier {
    justify-content: center;
}

.gameSolo .icon img {
    height: 64px;
    border-radius: 6px 0px 0px 6px;
}
.content {
    padding: 6px 12px;
    width: 100%;
    display: grid;
    justify-self: flex-end;
    grid-template-rows: 1fr auto;
}

.icon {
    display: flex;
    align-items: center;

}

.name {
    display: grid;
    align-items:center;
    justify-content: center;
    font-size: 18px;
    font-weight: bolder;
}
.tier {
    display: flex;
    justify-content: flex-end;
    gap: 8px
}

.like {
    height: 32px;
    width: 32px;

}

.like img {
    height: 100%;
    width: 100%;
}
