.navigation {
    display: flex;
    justify-content: space-around;
    padding: 14px 64px;
    gap: 40px;
    background-color: #E25E3E;
    border-radius: 16px;
}

@media (max-width: 980px) {
    .navigation {
        padding: 24px 64px;
    }
}