.it {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 40px 64px;
    overflow: hidden;
    overflow-y: auto;
}

.hardSkills {
    display: grid;
    grid-template-columns: 55% auto;
    gap: 40px;
}

.hardSkillsWrapper {
    height: fit-content;
    display: flex;
    flex-flow: wrap;
    gap: 10px;
}

.hardSkillDescription,
.hardSkillDescriptionEmpty {
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 12px;
    font-size: 18px;
}

.hardSkillDescriptionEmpty {
    align-items: center;
    color: gray;
    font-size: 34px;
}

.projectsWrapper {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    gap: 20px;
    white-space: pre-line;
}

@media (max-width: 1260px) {
    .hardSkills {
        display: flex;
        flex-direction: column;
        gap: 10px;
    } 
}

@media (max-width: 980px) {

    .hardSkills {
        gap: 20px
    }   

    .hardSkillDescription {
        max-height: 400px;
        align-items: start;
        overflow: hidden;
        overflow-y: auto;
        padding: 40px;
        font-size: 32px;
    }

    .hardSkillDescriptionEmpty {
        font-size: 52px;
    }

}