.header {
    background-color: #FF9B50;
    padding: 40px 10% 40px 10%;
    width: 100%;
    display: grid;   
    gap: 40px;
    grid-template-columns: 2fr 1fr;
}

.activities {
    display: grid;
}
.activitiesTitle {
    text-align: center;
}

.navPanel {
    display: flex;
    flex-direction:column;
    justify-content: start;
    align-items: start;
}

.navigation {
    margin-top: 16px;
    display: flex;
    justify-content: space-around;
    padding: 24px 64px;
    background-color: #E25E3E;
    border-radius: 16px;
}

.navItem{
    margin: 0px 20px;
    transition: 0.25s;
    cursor : pointer;

}

.navItem:hover {
    transform: scale(1.2);
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}
.navItem:active {
    transform: scale(1.1);
    -webkit-filter: invert(85%); /* Safari/Chrome */
    filter: invert(85%);
}

.profilePanel{
    display: flex;
    justify-content: center;
    align-items: end;
}

.ikon {
    height: 300px;
    width : 300px;
    border-radius : 64px;
    border: solid 16px #E25E3E;
}
