.header {
    background-color: #FF9B50;
    padding: 40px 13% 40px 13%;
    width: 100%;
    display: grid;   
    gap: 40px;
    grid-template-columns: 2fr 1fr;
}

.navPanel {
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;
}

.profilePanel{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.iconMini {
    cursor: pointer;
    transition: 0.2s;
    height: 91px;
    width: 91px;
    border-radius : 16px;
    border: solid 8px #E25E3E;
}


.icon {
    cursor: default;
    transition: 0.2s;
    height: 280px;
    width: 280px;
    border-radius : 32px;
}
.icon:hover,
.iconMini:hover {
    border-width: 0px;
}
