.footer {
    background-color: var(--main-color);
    padding: 0px 18%;
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 80px;
    justify-content:space-between;
}

.socialNetworks {
    padding: 4px 0px;
    display: flex;
    align-items: center;
    height: 48px;
    gap: 10px;
}

.socNet {
    border-radius: 12px;
    height: 86%;
    transition: 0.25s;
    cursor: pointer;
}

.socNet:hover {
    border-width: 0px;
}

.socNet img {
    border-radius: 6px;
    transition: 0.25s;
    height: 100%;
}

.contacts {
    font-weight: bolder;
    color: #e2e2e2;
    font-size: 12px;
    display: flex;
    gap: 40px;
}

@media (max-width: 980px) {
    .socNet {
        height: 96px;
        width: 96px;
        border-radius: 16px;
        border-width: 8px;
    }
    .socNet img {
        border-radius: 8px;
    }
    .contacts {
        font-size: 22px;
        flex-direction: column;
        gap: 10px;
    }
}