.game {
    display: grid;
    padding: 40px 64px;
    gap: 80px;
    grid-template-columns: 1fr auto;
    overflow: hidden;
    overflow-y: auto;
    animation-duration: 0.25s;
    animation-name: appearances;
}

@keyframes appearances {
    from {
        height: 0px;
    }
    to {
        height: 100%;
    }
}

.bounty {
    min-width: 412px;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    gap: 10px;
    min-height: 500px;
    padding-bottom: 20px;
}

.games {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow: hidden;
    overflow-y: auto;
    padding-bottom: 10px;
}

.profile {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    gap: 20px;
}

.aboutMe {
    font-size: 18px;
}

.gamesWrap {
    display: flex;
    gap: 20px 40px;
    flex-flow: wrap;
}

.profile h2 {
    margin-bottom: 10px;
}

.soloGame {
    width: 320px;
}

@media (max-width: 1620px) {
    .game {
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: 980px) {

    h2 {
        font-size: 56px;
    }
    .aboutMe {
        font-size: 48px;
    }

    .gamesWrap {
        margin: 0px 40px;
        display: flex;
        gap: 20px;
        flex-flow: wrap;
    }
    .soloGame {
        width: 100%;
    }

    .bounty{
        padding: 40px;
        min-height: 1000px;
    }

    .games{
        padding: 40px;
    }
}
