.game {
    display: grid;
    padding: 40px;
    gap: 80px;
    grid-template-columns: 1fr auto;
    overflow: hidden;
    overflow-y: auto;
    animation-duration: 0.25s;
    animation-name: appearances;
}

@media (max-width: 1620px) {
    .game {
        display: flex;
        flex-direction: column;
    }

}
.bounty {
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    gap: 10px;
    min-height: 500px;
    padding-bottom: 20px;
}

@keyframes appearances {
    from {
        height: 0px;
    }
    to {
        height: 100%;
    }
}


.games {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow: hidden;
    overflow-y: auto;
}

.profile {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    gap: 20px;
}

.gamesWrap {
    display: flex;
    gap: 20px 40px;
    flex-flow: wrap;
}

.profile h2 {
    margin-bottom: 10px;
}

.soloGame {
    width: 320px;
}