.toggleMini,
.simpleToggleMini {
    cursor: pointer;
    transition: 0.25s;
    background: var(--optional-color);
    font-weight: bolder;
    padding: 4px 16px;
    align-items: flex-end;
    height: fit-content;
    border-radius: 6px;
    font-size: 12px;
}

.simpleToggleMini {
    font-weight: normal;
    cursor: default;
}

.toggleMini:hover {
    background-color: var(--optional-hover-color);
 
}
.toggleMini:active {
    background-color: var(--optional-active-color);
}

@media (max-width: 980px) {

    .toggleMini {
        padding: 20px 40px;
        border-radius: 24px;
        font-size: 38px;
    }
}
